In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("artifacts/data.csv")

In [3]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [14]:
df.columns

Index(['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course', 'math_score', 'reading_score',
       'writing_score'],
      dtype='object')

In [17]:
for column in df.columns:
    if df[column].dtype == 'object':   # check string/object columns
        print(f"Unique values in {column}:")
        print(df[column].unique())
        print("-" * 50)

Unique values in gender:
['female' 'male']
--------------------------------------------------
Unique values in race_ethnicity:
['group B' 'group C' 'group A' 'group D' 'group E']
--------------------------------------------------
Unique values in parental_level_of_education:
["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
--------------------------------------------------
Unique values in lunch:
['standard' 'free/reduced']
--------------------------------------------------
Unique values in test_preparation_course:
['none' 'completed']
--------------------------------------------------

In [10]:
df['column'].unique()

KeyError: 'column'